{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href='{% static "css/estilo.css" %}'>
<div class="main">
    <div class="container">
        <center>

    <div class="middle">
        <div id="login">
            <form class="form-signin" method="POST" autocomplete="off">
                {% csrf_token %}

                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                
                <fieldset class="clearfix">
                    <p><span class="fa fa-user"></span><input type="email" id="username" name="username" placeholder="Informe seu e-mail" required autofocus></p> <!-- JS because of IE support; better: placeholder="Username" -->
                    <p><span class="fa fa-lock"></span><input type="password" id="password" name="password" placeholder="Informe sua senha" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
            
        <div>
        <span style="width:48%; text-align:left; display: inline-block;">
        
        <a href="{% url 'password_reset' %}" class="small-text">Perdeu sua senha?</a><br><br>
        <a href="{% url 'signup' %}" class="small-text">Cadastre-se</a></span>
        <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Acessar"></span>
        

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert" area-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}

    </div>
    </fieldset>

    <div class="clearfix"></div>
    </form>

    <div class="clearfix"></div>

    </div> <!-- end login -->

    <div class="logo">
        <img class="mb-4" src="{% static 'img/grupo.png' %}" alt="" width="72" height="72"> DChat
        <div class="clearfix"></div>
    </div>

</div>

</center>

</div>
</div>