{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <img class="mb-4" src="{% static 'img/grupo.png' %}" alt="" width="72" height="72">
    <div class="row justify-content-center align-items-center" style="height:50vh;">
        <div class="col-auto border p-3">
            {% if form.errors %}
            <p class="alert alert-danger p-2">Senha incorreta.</p>
            {% endif %}{% if next %}
                {% if user.is_authenticated %}
                <p class="alert alert-warning p-1">Sua conta não tem acesso.</p>
                {% else %}
                <p class="alert alert-secondary">Por favor faça login para ver esta página.</p>
                {% endif %}
            {% endif %}<form method="post" action="{% url 'password_change' %}">
            {% csrf_token %}
            {{ form.as_p}}<input class="mt-3 btn btn-success" type="submit" value="Alterar Senha" />
            <input type="hidden" name="next" value="{{ next }}" />
            <a href="{% url 'index' %}" class="mt-3 btn btn-danger">Voltar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}