{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <img class="mb-4" src="{% static 'img/grupo.png' %}" alt="" width="72" height="72">
    <div class="row justify-content-center align-items-center" style="height:20vh;">
        <div class="col-auto p-3">
            <spam class="paragrafo">A sua senha foi alterada com sucesso!</spam><br><br>
            <p><a href="{% url 'index' %}" class="link-cad">Voltar</a></p>
        </div>
    </div>
</div>
{% endblock %}