{% load static %}

<div class="contact-profile">
    {% for usuario in usuarios %}
        {% if usuario.username == request.user.username %}
            <img src="{{usuario.perfil_image.url}}" alt="" />
            <p>{{usuario.username}}</p>
        {% endif %}
    {% endfor %}
    
    <div class="social-media">
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}"><input id="logout" class="btn btn-danger btn-sm" type="button" value="Logout"></a>
        {% else %}
            <a href="{% url 'login' %}"><input id="login" class="btn btn-success btn-sm" type="button" value="Login"></a>
        {% endif %}
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
</div>