{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/grupo.png' %}" />
    <link href={% static 'css/style.css' %} rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Chat</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <br>
        <img class="mb-4" src="{% static 'img/grupo.png' %}" alt="" width="72" height="72"><br>
        {% if request.user.is_authenticated %}
            <div class="alert alert-success d-inline-flex p-2" role="alert" style="background-color: limegreen; color:floralwhite;">
                Olá &nbsp;<strong>{{request.user.username}}</strong>, seja bem vindo(a).
            </div>
            <p><a href="{% url 'password_change' %}" class="link">Alterar senha</a><br><br>
        {% else %}
            <div class="alert alert-danger d-inline-flex p-2" role="alert" style="background-color:crimson; color:floralwhite;">
                Você não está &nbsp;<a href="{% url 'login' %}" class="alert-link">logado</a>, com isso não conseguirá interagir com o chat.
            </div>
        {% endif %}
        <h2>Django Chat</h2>
        <p class="paragrafo">Qual sala de chat você gostaria de entrar?</p>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger d-inline-flex p-2" 
                        role="alert" style="background-color:crimson; color:floralwhite;">{{message}}</div><br>
                {% else %}
                    <div class="alert alert-{{message.tags}} d-inline-flex p-2" 
                        role="alert" style="background-color: limegreen; color:floralwhite;">{{message}}</div><br>
                {% endif %}
            {% endfor %}
        {% endif %}

        <br/><input id="nome_sala" name="nome_sala" type="text" class="form-control" size="100" placeholder="Nome da sala ..."><br/><br/>
        {% buttons %}
            <input id="botao" class="btn btn-primary" type="button" value="Entrar no chat">
            {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}"><input id="login" class="btn btn-success" type="button" value="Login"></a>
            {% else %}
                <a href="{% url 'logout' %}"><input id="logout" class="btn btn-danger" type="button" value="Logout"></a>
            {% endif %}
        {% endbuttons %}
    </div>
    {% bootstrap_javascript jquery='full' %}

    <script>
        document.querySelector('#nome_sala').focus();
        document.querySelector('#nome_sala').onkeyup = function(event) {
            if(event.keyCode === 13){
                document.querySelector('#botao').click();
            }
        };

        document.querySelector("#botao").onclick = function(event) {
            var nome_sala = document.querySelector('#nome_sala').value;
            if(nome_sala != ""){
                window.location.pathname = '/chat/' + nome_sala + '/';
            }
            else {
                alert('Você precisa informar o nome da sala!');
                document.querySelector('#nome_sala').focus();
            }
        };
    </script>
    
</body>
</html>